{{ attach_library('unccd_event_map/datepicker') }}

<p>
    Please fill the following form to add your event to the World Day to Combat Desertification event map.<br>
    The event will be added to the map after review by the UNCCD.<br>
    Your contact information, such as email address will not be published and will only be used if we require more information.<br>
    If you encounter any issues using this form, or need further help please contact us at <a href="mailto: WDCD2018@unccd.int">WDCD2018@unccd.int</a>.
</p>

{{ form }}

{# {{ form.title }}
{{ form.organisation }}
{{ form.url }}
{{ form.email }}
{{ form.date }}
{{ form.city }}
{{ form.country }}
{{ form.description }}
{{ form.image }}
{{ form.actions.submit }} #}

<script>
    document.addEventListener("DOMContentLoaded", function() {

        // Enable date picker
        jQuery('input[type="date"]').datepicker({format: 'yyyy-mm-dd'});
    });
</script>